<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ head_msg }}</title>
    <link rel="stylesheet" href="{% static 'css/fnews.css' %}">
</head>
<body>
    <h1>{{ head_msg }}</h1>
    <ul>
        <li><h2>{{ sub_msg1 }}</h2></li>
        <li><h2>{{ sub_msg2 }}</h2></li>
        <li><h2>{{ sub_msg3 }}</h2></li>
    </ul>
    <img src="{% static 'images/akshay.jpg' %}" alt="akshay">
    <img src="{% static 'images/guido.jpg' %}" alt="guido">
    <img src="{% static 'images/virat.jpg' %}" alt="virat">
</body>
</html>
